@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-geist: 'Geist', sans-serif;
  --font-aeonik: 'Aeonik Pro', sans-serif;
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}
/* Base scrollbar styles */
::-webkit-scrollbar {
  width: 8px; /* Width of the scrollbar */
}

/* Scrollbar track */
::-webkit-scrollbar-track {
  background: #757575; /* Color of the track (part the thumb slides on) */
  border-radius: 20px;
}

/* Scrollbar thumb */
::-webkit-scrollbar-thumb {
  background: #000000; /* Color of the thumb (draggable part) */
  border-radius: 20px;
}

/* Scrollbar thumb on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; /* Color of the thumb when hovered */
}


@font-face {
  font-family: 'Aeonik Pro';
  src: url('/fonts/AeonikPro-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Aeonik Pro';
  src: url('/fonts/AeonikPro-Bold.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
    font-family: var(--font-geist);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
